:root{
    --black:#333;
    --background:rgb(24, 24, 24);
    --box-shadow:rgb(65, 65, 65);
    --header-menu-font-size: 1.3em;
    --header-menu-font-color: #FFFFFF;
    --header-menu-font-style: 'Poppins', sans-serif;
    --activefocus-color: #FF4069;
    --hover-color: #FF7795;
    --border: 1rem solid var(--header-menu-font-color);
    --second-font-style: 'Cairo Play', cursive;
    --third-font-style: 'Righteous', cursive;
    --fourth-font-style: font-family: 'Roboto Slab', serif;
}

body{
    overflow-x:hidden;
    background-color: #302e3a; 
    background-size: cover;
    background-position: center;
    margin: 0;
}


/* Start Verticle Menu  */

.flexbox{
    display: flex;
    flex-direction: row;
    order:2;
    margin: 0.5em 2em 0 0;
}

.flexbox .box-one{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 1em 0;
    align-items: center;
    width: 200px;
}

.flexbox .box-one img{
    display: block;
    margin-left: auto;
    margin-bottom: 1em;
    width: 80%;
}

.flexbox .box-one .navbar{
    margin-bottom: auto;
}

.flexbox .box-one .navbar #icon{
    margin: 1em;
    justify-content: center;
    color: #FFFFFF;
}

.flexbox .box-one .navbar a{
    display: block;
    margin: 0.4em;
    text-decoration: none; 
    color: #FFFFFF;
    font-family: var(--header-menu-font-style);
    font-size: 15px;
    font-weight: 700;
}

.flexbox .box-one .navbar a:hover,
.flexbox .box-one .navbar .menubtn.active{
    border-radius: 1em;
    background-color: #151419;
}

.flexbox .box-one .navbar i{
    width: 18px;
    height: 18px;
}

.flexbox  .box-one .profile-box img{
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.flexbox  .box-one .profile-box h4{
    margin-bottom: 0.3em;
    font-size: 14px;
    text-align: center;
    font-family: var(--header-menu-font-style);
    color: #FFFFFF;
    font-weight: 700;
}

.flexbox .box-one .profile-setting{
    display: flex;
    justify-content: center;
}

.flexbox .box-one .profile-setting i{
    border: 1px solid;
    padding: 0.5em;
    border: 3px solid rgba(255, 165, 165, 0.589);
    box-shadow: rgba(255, 203, 203, 0.2) 0px 2px 8px 0px;
    margin: 0.3em;
    color: #FFFFFF;
    border-radius: 10px;
}

.flexbox .box-one .profile-setting i:hover{
    background-color: #FF4069;
    color: #FFFFFF;
    box-shadow:none;
    border: 3px solid #FF4069;
    cursor: pointer;
    border-radius: 10px;
}

/* End Verticle Menu */

/* Start Header */

.box-two{
    display: block;
    flex-grow: 1;
    margin: 1em 0em 1em 1em;
    background-color: #151419;
    border-radius: 30px;
}

.box-two .header .flex{
    border-bottom: 3px solid rgba(122, 122, 122, 0.425);
}

.box-two .header .header-container{
    display: flex;
    margin: 1em 2em 1em 2em;
    justify-content: space-between;
}

.box-two .header .header-container h1{
    margin: 0;
    color: #FFFFFF;
    font-family: var(--header-menu-font-style);
    font-size: 1.5rem;
    font-weight: 700;
}

.box-two .header .header-container i{
    display: inline-flexbox;
    justify-content: center;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    border: 3px solid rgba(255, 165, 165, 0.589);
    box-shadow: rgba(255, 203, 203, 0.2) 0px 2px 8px 0px;
    padding: 14px;
    font-size: 0.8rem;
    border-radius: 1em;
    margin-left: 0.9em;
}

.box-two .header .header-container i:hover{
    background-color: #FF4069;
    color: #FFFFFF;
    box-shadow:none;
    border: 3px solid #FF4069;
    cursor: pointer;
}

.success-msg{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    display: block;
    background: #249300;
    color:#fff;
    border-radius: 1em;
    font-family: var(--header-menu-font-style);
    font-size: 1em;
    font-weight: 700;
    width: 465px;
    padding: 0.8em;
    text-align: center;
}

.delete-msg{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    display: block;
    background: #249300;
    color:#fff;
    border-radius: 1em;
    font-family: var(--header-menu-font-style);
    font-size: 1em;
    font-weight: 700;
    width: 465px;
    padding: 0.8em;
    text-align: center;
}

#success,
#delete,
#error{
    -webkit-animation: cssAnimation 5s forwards; 
    animation: cssAnimation 5s forwards;
}

@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
   
.box-two .header .header-container button{
    border: 3px solid rgba(255, 165, 165, 0.589);
    box-shadow: rgba(255, 203, 203, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    outline: none;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    border-radius: 1rem;
    padding: 10px 15px 10px 15px;
    font-family: var(--header-menu-font-style);
    font-size: 0.8rem;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}
  
.box-two .header .header-container button:hover {
    background-color: #FF4069;
    color: #FFFFFF;
    box-shadow:none;
    border: 3px solid #FF4069;
}

.success-msg{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    display: block;
    background: #249300;
    color:#fff;
    border-radius: 1em;
    font-family: var(--header-menu-font-style);
    font-size: 1em;
    font-weight: 700;
    width: 465px;
    padding: 0.8em;
    text-align: center;
}

#success{
    -webkit-animation: cssAnimation 5s forwards; 
    animation: cssAnimation 5s forwards;
}

@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

/* End Header */

.main .main-container{
    display: flex;
    width: auto;
    justify-content: center;
}

.main .main-container .flexbox-one{
    width: auto;
    background-color: #353341;
    border-radius: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1.5em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

.main .main-container .table-two{
    width: 100%;
    height: auto;
    border-collapse: separate;
    border-spacing: 40px 10px;
    margin-left: auto;
    margin-right: auto;
}

.main .main-container img{
    display: block;
    width: 20%;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
}

.main .main-container input[type="email"],
.main .main-container input[type="tel"]{
    position: relative;
	margin: 0 0 5px 0;
    color: #fff;
    border-radius: 1em;
	outline: none;
	background: transparent;
    border: 3px solid rgba(153, 153, 153, 0.576);
    box-shadow: rgba(255, 203, 203, 0.2) 0px 2px 8px 0px;
    width: 100%;
    padding: 0.8em;
    appearance: none; 
    font-family: var(--header-menu-font-style);
    font-size: 0.8rem;
    font-weight: 700;
}

/* .main .main-container input[type="email"]:valid,
.main .main-container input[type="text"]:valid,
.main .main-container input[type="tel"]:valid{
    border: 3px solid rgba(39, 124, 60, 0.308);
    box-shadow: rgba(87, 255, 129, 0.199) 0px 2px 8px 0px;
} */


.main .main-container input[type="text"]:disabled{
    color: rgba(153, 153, 153, 0.788);
    border: 3px solid rgba(153, 153, 153, 0.576);
    box-shadow: rgba(255, 203, 203, 0.2) 0px 2px 8px 0px;
}

.main .main-container input[type="email"]:focus:invalid,
.main .main-container input[type="text"]:focus:invalid,
.main .main-container input[type="tel"]:focus:invalid{
    border: 3px solid #ff4069c9;
    box-shadow: #ff406979 0px 2px 8px 0px;
}

.main .main-container input[type="text"]{
    position: relative;
	margin: 0 0 5px 0;
    color: #fff;
    border-radius: 1em;
	outline: none;
	background: transparent;
    border: 3px solid rgba(153, 153, 153, 0.576);
    box-shadow: rgba(255, 203, 203, 0.2) 0px 2px 8px 0px;
    width: 100%;
    padding: 0.8em;
    appearance: none; 
    font-family: var(--header-menu-font-style);
    font-size: 0.8rem;
    font-weight: 700;
}

.main .main-container input[type="submit"],
.main .main-container input[type="button"]{
    border: 3px solid rgba(255, 165, 165, 0.589);
    box-shadow: rgba(255, 203, 203, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    outline: none;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    border-radius: 1rem;
    padding: 10px 34px 10px 34px;
    font-family: var(--header-menu-font-style);
    font-size: 0.8rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-bottom: 2em;
}

.main .main-container input[type="submit"]:hover,
.main .main-container input[type="button"]:hover{
    background-color: #FF4069;
    color: #FFFFFF;
    box-shadow:none;
    border: 3px solid #FF4069;
}







